body {
  background-image: url(../images/background1.png);
  background-repeat: no-repeat;
  background-size: cover;
}
/*background-color: black;*/

.item {
  display: block;

  text-align: center;

  position: absolute;
  width: 18em;
  height: 25em;
  bottom: 0;
  left: 50%;
  margin-left: -9em;
  font-size: 350%;
  font-weight: bold;
  overflow: hidden;
  transform-origin: 50% 100%;
  transform: perspective(400px) rotateX(25deg);
 
}
.item:after {
  position: absolute;
  content: " ";
  left: 0;
  right: 0;
  top: 0;
  bottom: 60%;
 
}
.text {
  color: yellow;
  text-align: center;
  position: absolute;
  top: 100%;
  animation: starswar 30s ease 0s infinite;

}
@keyframes starswar {
  0% {
    top: 100%;
  }
  100% {
    top: -170%;
  
  }
}

